<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
<div>

    <div>
        <input type="text" id="FromCandle" size="10">
        <input type="text" id="FromPrice" size="10">
        <input type="text" id="ToPrice" size="10">
        <button id="GetPeriodsButton">Start</button>
        <button id="SaveButton">Save</button>
        <button id="SaveMerge">Save Merge</button>
        <button id="ClearButton">Clear</button>
    </div>
</div>

<div id="Vals"></div>
<style>
    .triple_element {
        border-style: solid;
    }
</style>

<script type="text/javascript">


    var centralRSI = {{.CentralRSI}} * 1;
    var symbol = "{{.Symbol}}";

    prevVal = window.localStorage.getItem("prevPosVal") * 1
    nextVal = window.localStorage.getItem("nextPosVal") * 1

    if (prevVal > 0 && nextVal > 0) {

        FromPrice = $('#FromPrice').val(prevVal);
        ToPrice = $('#ToPrice').val(nextVal);

    }


    $('#ClearButton').click(function () {
        window.localStorage.clear()
    });

    $('body').on('click','.save_button',function() {

        var from = $(this).parent('.triple_element')


        window.localStorage.setItem("prevPosVal",from.attr('data-up'))
        window.localStorage.setItem("nextPosVal",from.attr('data-down'))

    });

    $('#GetPeriodsButton').click(function() {


        FromPrice = $('#FromPrice').val() * 1;
        ToPrice = $('#ToPrice').val() * 1;

        $("#Vals").children().each(function () {

            var up = $(this).attr('data-up') * 1;
            var down = $(this).attr('data-down') * 1;

            if (up < ToPrice || down > FromPrice) {
                $(this).hide();
            } else {
                $(this).show();
            }
        });

        })


    $.getJSON("/getDD/" + symbol  + "/" + centralRSI, function (data) {

        for (var r in data) {
            $('#Vals').append($('<div class="triple_element" ></div>').append($("<div></div>").text(data[r].Combination.join())).append($("<div></div>").text(data[r].Up)).append($("<div></div>").text(data[r].Down)).append($("<div></div>").text(data[r].Percentage)).append('<button class="save_button">Save</button>').attr('data-up',data[r].Up).attr('data-down',data[r].Down))
        }

    });






</script>
</body>

</html>